@charset "UTF-8";
:root{
	--main : 180px;
}
body{
	margin:0;
	padding:0;
}
article{
	text-align: center;
}
h1{
	display: block;
  	line-height: 100px;
  	/* white-space: nowrap; */
	margin:0;
	padding: 0;
	height: 100px;
	text-align: center;
	background-color: #D2D5B8;
}
.wrap{
	width: 100%;
	height: 100vH;
	display: flex;
}
.menu{
	width: var(--main);
	height: 100vH;
	background-color: #D2D5B8;
	/* overflow: hidden; */
}
.menu:hover{
	width: 150px;
	transition:0.3s;
}
.main{
	width: calc(100% - var(--main));
	height: 100vH;
	background-color: #E8E7D2;
}
nav{
	margin-top: 50px;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #D2D5B8;
}
.sb{
	/* padding-top : 5px; */
	background-color: #D2D5B8;
}
nav ul > li{
	margin: 0;
	padding: 0;
	margin: 5px 10px;
	padding: 20px 0px;
	text-align: left;
	padding-left: 5px;
	width: 100%;
	white-space: nowrap;
}
nav > ul > li:hover{
	background-color:  #ff0080;
}

.nav-lists-item{
	display: inline-block;
	font-size: large;
	/* float: none */;
	width: 15%;
}
table{
	text-align: center;
/* 	margin-left: auto;
	margin-right:auto; */
	margin: auto;
	width: 100%;
	height: auto;
}
table, tr , td {
	border-left: medium;
	border-bottom: medium;
	width: 50px;
}