@charset "UTF-8";
body{
	width: 100%;
	height: 100px;
	padding: 0;
	margin: 0;
	background-color: #E8E7D2;
	background-repeat: no-repeat;
	background-size: cover;
}

/* .main {
  margin-top: 30px;  
} */

.booktable {
  width: 100%;
  text-align: center;
}

.a1{
	height: 40px;
	background-color: #D2D5B8;
	border-bottom: inset;
	border-left: outset;
}

/* h1{
	width: 100%;
	height: 15px;
	background-color: #D2D5B8;
	text-align: center;
} */
h2{
	text-align: center;

}
.w1{
	width: 10%;
	background-color: #D2D5B8;
}
.w2{
	width: 15%;
}
.w3{
	width: 30%;
}
.w4{
  width: 40%;
}

.bookimg {
  width: 150px;
}

.paging {
  margin: 0 auto;
  margin-top: 10px;
  width: 600px;
  height: 30px;
  line-height: 30px;
  /* background-color: aliceblue; */
  text-align: center;
}

.pageBtn {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: #CD853F;
  margin-right: 3px;
  box-shadow: 1px 1px 1px #a09ca3;
}

.pageBtn.bt {
  box-shadow: inset 1px 1px 1px #a09ca3;
  /* background-color: black; */
}
td{
	border-bottom: inset;
	border-left: outset;
}
/* 담은 책 보기 cart 오른쪽 보내기  */
.cart{
	text-align: center;
	
}
/* 담기버튼 add  */
.add{
	float: right;
    background-color:#CD853F;
    color: #fff;
    border:none; 
    border-radius:10px; 
    width: 80px;
    height: 30px;
    
  }

.add:focus{
	background-color: #D2D5B8;
	box-shadow: 0 0 0 4px #5a01a7;
}
.add:hover{
	 background-color:#002ead;
     transition: 0.7s;
}
.add:active{
	 background-color: #ffbf00;
}
/* search 버튼 오른쪽 보내기 */
.search{
	height: 30px;
	width: 300px;
	background: white;
	border-radius: 40px;
	padding: 10px;
	border: 1px solid #D26E6E; 
	float: right;
}
#search{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0px;
	color: #D7AC87;
	font-size: 16px;
	line-height: 30px;
	width: 200px;
}
#searchBtn{
	color: #D26E6E;
	float: right;
	width: 40px;
	height: 100%;
	border-radius: 50%;
	background: white;
	border: none;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main{
	padding-top: 55px;
}
.head{
	
}