@charset "UTF-8";
        .changeform {
        margin-top: 150px ; /* 폼을 가운데 정렬 */
        margin-left: 750px;
        width: 350px; /* 고정된 폭 설정 */
        height: 550px;
        padding: 20px;
        background-color: white;
        border-radius: 5px; /* 테두리 모서리 둥글게 만들어주는거*/
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 깊이를 위한 그림자 추가 */
    }
    
    .changeform h2 {
    	margin-bottom: 20px; /* 제목 아래 여백 추가 */
    }
    
    .changeform input[type="text"],
    .changeform input[type="password"] {
        margin-bottom: 20px; /* 입력 칸들 사이에 여백 추가 */
        width: 100%; /* 입력 칸이 부모 요소인 .changeform 너비를 가득 채우도록 설정 */
        padding : 15px; /* 입력 칸 내 여백 조정 */
        box-sizing: border-box; /* padding을 너비에 포함시킴 */
    }
    
    .changeform button {
    	width: 100%; /* 버튼이 부모 요소인 .changeform 너비를 가득 채우도록 설정 */
    	padding: 10px; /* 버튼 내 여백 조정 */
    	margin-top: 30px;
    	box-sizing: border-box; /* padding을 너비에 포함시킴 */
    }
    
    .king2{
		width: 100%;
		margin-top: 20px;
    	box-sizing: border-box; /* padding을 너비에 포함시킴 */
		height: 150px;
	}