@charset "UTF-8";
table {
	min-width: 500px ;
	width: auto ;
}
th, td {
	margin-right : 5px;
	padding: 20px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
.list1 {
	margin-top: 80px;
	margin-left: 200px;
}