@charset "UTF-8";
.list {
   font-family: Raleway;
}

.change {
  padding-top: 100px; /* 컨텐츠를 아래로 내림 */
   position: fixed;
   top: 0; /* 원하는 위치로 조정 */
   left: 0; /* 왼쪽에 배치 */
   width: 180px; /* 메뉴 너비 조정 */
   height: 100%; /* 화면 전체 높이로 설정 */
   background-color: #C9BA9B ;
   padding:0; /* 내부 여백 설정 */
   box-sizing: border-box; /* 내부 여백을 너비에 포함 */
   z-index: 999; /* 다른 요소 위로 표시 */
}

.change ul {
   margin-top: 80px !important;
   list-style-type: none;
   padding-left: 20px; /* 내부 여백 제거 */
}

.change ul li {
   margin-bottom: 20px;
}

.change ul li:hover {
    background-color: #D2D5B8;
    width:150px;
}

.container {
   margin-left: 190px; /* 왼쪽 메뉴 공간 확보 */
}