@charset "UTF-8";

.stylish-regular {
	font-family: "Stylish", serif;
	font-weight: 400;
	font-style: normal;
	font-size: large;
}

.review {
	text-align: center;
}

.reviews {
	margin-top: 100px;
}

.container { 
	width: 800px;
}
body{
	background-color: #E8E7D2;
	margin-top: 10px;
	
}

th {
	color: #4D5057;
	background-color: #C9BA9B;
	}
	
td{
	border-bottom: 1px solid #C9BA9B;
	
	
}	

.w1 {
	width: 20%;
}

.w2 {
	width: 70%
}

.w3 {
	width: 10%
}

/* 제목 입력 폼 스타일 변경 */
#rtitleInputGroup .input-group-text {
	background-color: #C9BA9B;
	color: #4D5057;
	border: 2px solid #C9BA9B;
}

/* 저자 입력 폼 스타일 변경 */
#mnameInputGroup .input-group-text {
	background-color: #C9BA9B;
	color: #4D5057;
	border: 2px solid #C9BA9B;
}

/* 리뷰 입력 폼 스타일 변경 */
#rcontentInputGroup .input-group-text {
	background-color: #C9BA9B;
	color: #4D5057;
	border: 2px solid #C9BA9B;
}

.Rbtn{
	color: #4D5057;
	background-color: #C9BA9B;		
}
