@charset "UTF-8";

.stylish-regular {
	font-family: "Stylish", serif;
	font-weight: 400;
	font-style: normal;
	font-size: large;
}

@font-face {
    font-family: 'KimjungchulMyungjo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.stylish-regular{
	font-family: 'KimjungchulMyungjo-Bold';
	
}



@font-face {
    font-family: 'KCCChassam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



#reviews-box{
	font-family: 'KCCChassam';

}


.review {
	text-align: center;
}

.reviews {
	margin-top: 100px;
}

.container { 
	width: 800px;
}
body{
	background-color: #E8E7D2;
	
}

table {
	width: 100%;
	border-top: 1px solid #C9BA9B;
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid #C9BA9B;
	border-left: 1px solid #C9BA9B;
	padding: 10px;
}
	
th{
	
	text-align: center;
	background-color: #C9BA9B;
}	

  th:first-child, td:first-child {
    border-left: none;
  }	


h1{
	margin-top: 50px;
}

.w1 {
	width: 25%;
}

.w2 {
	width: 60%;
}

.w3 {
	width: 15%;
}

textarea{
	font-family: 'KCCChassam';
}

/* 제목 입력 폼 스타일 변경 */
#rtitleInputGroup .input-group-text {
	background-color: #C9BA9B;
	color: #4D5057;
	border: 2px solid #C9BA9B;

}

/* 저자 입력 폼 스타일 변경 */
#mnameInputGroup .input-group-text {
	background-color: #C9BA9B;
	color: #4D5057;
	border: 2px solid #C9BA9B;
}

/* 리뷰 입력 폼 스타일 변경 */
#rcontentInputGroup .input-group-text {
	background-color: #C9BA9B;
	color: #4D5057;
	border: 2px solid #C9BA9B;
}

.Rbtn{
	color: #4D5057;
	background-color: #C9BA9B;
	font-family: 'KCCChassam';		
}
